/*Universal*/
* {
    font-family:Verdana;
}

 /*Menu Table*/
.menuTable {
    margin-bottom: 10px;
    width:auto;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    border-collapse:collapse;
}

#menuTd {
    border: solid;
    border-width: 1px;
    border-color: navy;
    padding: 10px;
}

/*Reference Manual*/
.codeBlock {
    padding-left:2px;
    padding-right:2px;
    font-family:Monospace;
    font-size:large;
    background-color: #e7e9eb;
    color: red;
}

#attributeTable {
    border:solid;
    border-width:1px;
    border-color:gray;
    border-collapse:collapse;
}

.attributeData {
    vertical-align: top;
    padding:10px;
}

.attributeRow:nth-child(even) {
    background-color: #e7e9eb;
}

.exampleBox {
    background-color: #e7e9eb;
    border-radius: 10px;
    padding: 10px;
    width:740px;
    display:block;
}

.codeExample {
    background-color:white;
    padding:10px;
    border-left:solid;
    border-width:3px;
    border-color:slategray;
    font-size:large;
    font-family:Monospace;
    width:715px;
    display:block
}

/*Table 1*/
.table1 {
    border-left: solid;
    border-left-color: lightgray;
    margin-left: auto;
    margin-right: auto;
}

#table1ThUnderline {
    border-bottom: solid;
    border-bottom-color: lightgray;
    border-bottom-width: 2px;
    padding: 1px;
}

#table1Atm {
    column-width: 100px;
    text-align: center;
    font-weight: bold;
}

#table1Td {
    text-align: center;
    padding: 3px;
}

#table1ARow {
    background-color: lightgray;
}

/*Table 2*/
.table2 {
    margin-left: auto;
    margin-right: auto;
}

.table2Head {
    font-family: sans-serif;
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.table2Body {
    font-family: sans-serif;
    font-size: smaller;
    background-color: white;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.table2Hot {
    color: orangered;
}

.table2Cold {
    color: deepskyblue;
}

.blankRow {
    height: 15px !important;
}
