/*Menu Table*/
.menuTable {
    border: solid;
    border-width: 1px;
    margin-bottom: 10px;
    width: auto;
    text-align: center;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

#menuTd {
    border: solid;
    border-width: 1px;
    border-color: navy;
    padding: 10px;
    border-collapse: collapse;
}

/*Reference Manual*/
.codeBlock {
    background-color: lightgray;
    color: red;
}

#attributeTable {
    margin-left:auto;
    margin-right:auto;
    border-width:2px;
}

.attributeData {
    vertical-align:top;
    padding-bottom:10px;
}

.attributeRow:nth-child(even) {
    background-color:lightgray;
}

/*Table 1*/
.table1 {
    border-left: solid;
    border-left-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
}

.table1Th {
    column-span: 2;
}

#table1ThUnderline {
    border-bottom: solid;
    border-bottom-color: lightgray;
    border-bottom-width: 2px;
    padding: 1px;
}

#table1Atm {
    column-width: 100px;
    text-align: center;
    font-weight: bold;
}

#table1Td {
    text-align: center;
    padding: 3px;
}

#table1ARow {
    background-color: lightgray;
}

/*Table 2*/
.table2 {
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.table2Head {
    font-family: sans-serif;
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.table2Body {
    font-family: sans-serif;
    font-size: smaller;
    background-color: white;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

.table2Hot {
    color:orangered;
}

.table2Cold {
    color:deepskyblue;
}

.blankRow {
    height:15px !important;
}