h1 {
    text-align:center;
    text-decoration:underline;
}

th {
    padding:5px;
}


table {
    border-left:solid;
    border-left-color:lightgray;

    font-family:sans-serif;
}

#menuTable {
    border: solid;
    border-width: 1px;
    margin-bottom: 10px;
    width: auto;
    text-align: center;
    border-collapse: collapse;
}

#menuTd {
    border: solid;
    border-width: 1px;
    border-color: navy;
    padding: 10px;
}

.menuCenter {
    margin-left: auto;
    margin-right: auto;
}

.table1Center {
    margin-left:auto;
    margin-right:auto;
}

.t1DataCenter {
    text-align: center;
    padding:3px;
}

.aCell {
    border-top:solid;
    border-top-width:5px;
    border-top-color:lightgray;
}

.thUnderline {
    border-bottom:solid;
    border-bottom-color:lightgray;
    border-bottom-width:2px;
}
